Source: libopentracker
Section: libs
Priority: optional
Maintainer: Alexander Bornik <bornik@icg.tu-graz.ac.at>
Build-Depends: d-shlibs (>= 0.18), debhelper (>= 4.1.0), dh-buildinfo, pkg-config, scons (>= 0.96), sed (>= 4.1), libcurses-dev
Standards-Version: 3.6.1

Package: libopentracker2-dev
Section: libdevel
Architecture: any
Depends: libopentracker2 (= ${Source-Version}), ${devlibs:Depends}, pkg-config
Provides: libopentracker-dev 
Conflicts: libopentracker2-dev, libopentracker-dev, libOpenTracker-dev
Description: Opentracker (development)
 Opentracker

Package: libopentracker2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Provides: libopentracker
Conflicts: libopentracker2
Description: Opentracker
 Opentracker
