Source: libartoolkitplus
Priority: extra
Maintainer: Alexander Bornik <bornik@icg.tugraz.at>
Build-Depends: debhelper (>= 5), dh-buildinfo, pkg-config, scons (>= 0.96), d-shlibs (>= 0.18), libopenvideo1-dev
Standards-Version: 3.7.2
Section: libs

Package: libartoolkitplus-dev
Section: libdevel
Architecture: any
Depends: libartoolkitplus1 (= ${Source-Version}),  ${devlibs:Depends}, pkg-config
Description: ARToolKitPlus developement headers
 ARToolKit is a library for fiducial marker based tracking

Package: libartoolkitplus1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenvideo1
Description: ARToolKitPlus library
 ARToolKit is a library for fiducial marker based tracking
