body, td, p {
    font-family: verdana, arial, helvetica, sans-serif;
}

body, th, td, input, select, textarea {
    font-size: 9pt; 
    color: #000000;
}

body {
    padding: 0px;
    margin: 0px;
}

p {
    margin-left: 20px;
}

/* --------------------------------------------------------------------- */
    
h1
    {font-size: 18pt; 
    }
    
h2
    {font-size: 15pt; 
    }
    
h3
    {font-size: 12pt; 
    }
    
/* --------------------------------------------------------------------- */

a {
    text-decoration: none;
    font-weight: bold;
}

p a[href^="http:"], li a[href^="http:"] {
    background: transparent url('../images/aoutside.gif') 100% 50% no-repeat;
    padding-right: 10px;
}

p a[href^="../"], li a[href^="../"] {
    background: transparent url('../images/astatic.gif') 100% 50% no-repeat;
    padding-right: 10px;
}

a[href^="mailto:"] {
    font-weight: normal;
    background: transparent url('../images/aemail.gif') 100% 50% no-repeat;
    padding-right: 10px;
}

a:link
    {color: #000000;
    }
    
a:visited
    {color: #666666;
    }
    
a[href]:hover
    {background-color: #F6F6F6;
    text-decoration: underline;
    }
    
a:active
    {color: #EF2B2F;
    }
    
/* --------------------------------------------------------------------- */

.navMain, .navMain:visited, .navMainCopyright, .navMainCopyright:visited
    {font-weight: bold;
     color: #000000; 
     text-decoration: none;
    }
    
.navMain:hover, .navMainCopyright:hover
    {text-decoration: underline;
    }
    
.navMainCopyright, .navMainCopyright:visited
    {color: #B3B3B3;
     font-weight: normal;
    }

/* --------------------------------------------------------------------- */
    
.codeblock
    {font-family: "Courier New", Courier, mono; background-color: #EEEEEE
    }

.fragment
   {
   	background-color: #EEEEEE
   }
/* --------------------------------------------------------------------- */

.niceTable th
    {background-color: #F6F6F6;
     font-weight: bold;
     text-align: left;
     border: solid 1px #F6F6F6;
    }

.niceTable td
    {border: solid 1px #F6F6F6;
    }


H1 { text-align: center; }
A.qindex {}
A.qindexRef {}
A.el { line-height: 19px;  }
A.code { text-decoration: none; font-weight: normal; color: #4444ee }
A.codeRef { font-weight: normal; color: #4444ee }
DL.el { margin-left: -1cm; padding-top: 3px; padding-bottom: 3px; }
DIV.fragment { width: 100%; border: none; background-color: #eeeeee; font-family:"Courier New", Courier, mono; }
DIV.ah { background-color: #cccccc; border: 1px solid black; font-size: 12pt; font-weight: bold; width: 100px;}
TD.md { background-color: #f2f2ff }
DIV.groupHeader { margin-left: 16; margin-top: 12; margin-bottom: 6; font-weight: bold }
DIV.groupText { margin-left: 16; font-style: italic; font-size: smaller }
FONT.keyword       { color: #008000 }
FONT.keywordtype   { color: #604020 }
FONT.keywordflow   { color: #e08000 }
FONT.comment       { color: #800000 }
FONT.preprocessor  { color: #806020 }
FONT.stringliteral { color: #002080 }
FONT.charliteral   { color: #008080 }

.maincontent {
    margin-left: 20px;
    margin-bottom: 40px;
}